@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start Code*/
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
}

menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

menu {
    margin-left: 20px;
}

menu a {
    text-decoration: none;
    color: #EB5428;
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu li :hover {
    color: #7ABFBF;
}

header {
    grid-area: header;
    padding-top: 180px;
}

header img {
    width: 100%;
}

header p {
    padding: 10px;
}

#details h2 {
    padding: 20px;
}

#ingredients h2 {
    padding: 20px;
}

#ingredients ul {
    list-style-type: square;
    padding-left: 30px;
    line-height: 2rem;
}

#directions h2 {
    padding: 20px;
}

#directions ol {
    list-style-type: lower-roman;
    padding-left: 25px;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

#dishes h2 {
    padding: 10px;
}

#dishes img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    height: 100px;
    width: 100px;
}

#dishes h3 {
    
}
 
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}


h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

dl {
    padding: 10px;
    display: grid;
    grid-template-columns: max-content auto;
    line-height: 1.5rem;
}

dd {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    grid-column-start: 2;
}

dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    grid-column-start: 1;
}

#dishes {
    background-color: #7ABFBF;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

nav a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

nav span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

menu li {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

#social li {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

footer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color: #F2F2F2;
    text-align: center;
    font-weight: bold;
}

:focus {
    border: 5px solid #EB5428;
}


